#package {margin-top: 5px}
#infodiv ul {list-style-type: none;margin-top: 3px}
#infodiv ul li::before {
    content: "• ";
    color: rgb(10, 179, 163);
    padding-right: 8px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.field-package, #infodiv {
    width:100%;
    height:100%;
    margin:10px 0!important;
    border: 1px solid #e8e8e8!important;
    padding: 11px!important;
    box-sizing: border-box;
}
.poweredby {
    display: block;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #e8e8e8;
}
.poweredby label {
    position: relative;
    vertical-align: 12px;
    font-style: italic;
}
